<div class="home-page-title-teaser">
  <h1 class="page-title">DCFuture</h1>

  <div class="home-page-teaser">
    Welcome to DCFuture.com, the first comprehensive entry point to understand,
    interact with, and influence local DC politics, issues and communities!
  </div>
</div>

<div class="page-main">
  <div class="site-link-buttons-section">
    <ul class="site-link-buttons">
      <li class="link-button">
        <a class="site-link">Read, Write and Comment on the Blog</a>
      </li>
      <li class="link-button">
        <a class="site-link">Give Your <i class="fa fa-thumbs-up"></i> or <i class="fa fa-thumbs-down"></i> to DC Legislation</a>
      </li>
      <li class="link-button">
        <a class="site-link">Learn About DC's Issues, Elected Officials, Neighborhoods, History and More</a>
      </li>
      <li class="link-button">
        <a class="site-link">Find DCFuture Allies and Other Resources</a>
      </li>
      <li class="link-button">
        <a class="site-link">See Who Funded Local Candidates</a>
      </li>
      <li class="link-button signup-link-button">
        <a class="site-link">Join the DCFuture Community</a>
      </li>
    </ul>
</div>
