<footer>
  <div class="footer-navigation nav-menu">
    <ul class="menu">
      <li><a href="https://www.facebook.com/pages/DC-Future/1412989265627187">Facebook</a></li>
      <li><a href="https://twitter.com/DC_Future">Twitter</a></li>
    </ul>
  </div>
</footer>
