<header>
  <div class="site-logo-title-container">
    <div class="site-logo">LOGO HERE</div>
    <div class="site-title">DCFuture</div>
  </div>
  <div class="main-search">
    <div class="search-form">
      <!-- <input role="search" ng-model="SCOPE.search" class="search"> -->
      <!-- <button roleclass="search-submit">Submit</button> -->
    </div>
  </div>
  <div class="main-navigation nav-menu">
    <ul class="menu">
      <li class="menu-item"><a href="/">DCFuture Home</a></li>
      <li class="menu-item"><a href="/about">About</a></li>
      <li class="menu-item"><a href="/blog">Blog</a></li>
      <li class="menu-item"><a href="/legitrack">LegiTrackDC</a></li>
      <!-- <li class="menu-item"><a href="/events">Events</a></li> -->
      <li class="menu-item"><a href="/contact">Contact</a></li>
    </ul>
  </div>
</header>

<h2 id="alert">{{flash[notice]}}</h2>
