<!DOCTYPE html>
<html>
<head>
  <title>DCFuture</title>
  <base href='/'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="dcfuture">

  <%= yield %>


</body>
</html>
